<mat-card>
  <mat-card-header>
    <mat-card-title>
      Welcome to your Human Resource Application!
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <p>This application is intended to alleviate HR administration.</p>
      <p>You can add new employee information such as name, surname, address and contact information.</p>
      <p>Please click the link below to get started.</p>
    </div>
  </mat-card-content>
  <button mat-raised-button color="primary" routerLink="/employees">Get Started!</button>
</mat-card>
